<manifest package="com.pkit.launcher"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="110"
          android:versionName="1.1.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="20"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name="com.pkit.launcher.activity.MainActivity">

        </activity>
        <activity android:name="com.pkit.launcher.activity.MediaBrowserActivity"/>
        <activity android:name="com.pkit.launcher.activity.UserRecordActivity"/>
        <activity android:name=".activity.WallpaperChooser"/>
        <activity android:name="com.pkit.launcher.activity.PlayerActivity"/>
        <activity android:name="com.pkit.launcher.activity.SearchActivity"/>
        <activity android:name="com.pkit.launcher.activity.DetailsActivity"/>
        <activity android:name="com.pkit.launcher.activity.WebActivity"/>
        <activity android:name="com.pkit.launcher.activity.CheckUpdateActivity"/>
        <activity android:name="com.pkit.launcher.activity.ChildrenLockActivity"/>

        <service android:name="com.pkit.launcher.service.ContentService">
        </service>


        <provider
            android:name="com.pkit.launcher.provider.ContentDataProvider"
            android:authorities="com.pkit.launcher.content"/>
        <service
            android:name=".service.TimerService"
            android:exported="true"
            android:priority="1000">
        </service>
        <receiver android:name=".receiver.RebootServiceReceiver">
            <intent-filter>
                <action android:name="com.pkit.launcher.action.REBOOT_SERVICE"/>
            </intent-filter>
        </receiver>
        <provider
            android:name=".provider.LoggerProvider"
            android:authorities="com.pkit.logger"/>
        <service android:name=".service.LoggerService"/>
        <provider
            android:name=".provider.DataProvider"
            android:authorities="com.pkit.launcher.data">
        </provider>
    </application>

</manifest>